#container-ALL{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

/* NAVBAR */



#container-navBar{
    display: flex;
    width: 18%;
    flex-direction: row;
    flex-wrap: wrap;    

    margin-left: 2%;
}

.block-navBar{
    width: 100%;
    padding-top: 2rem;
}

#container-body-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 76%;
    margin-right: 2%;
    margin-left: 2%;

}

.block-new-row{
    height:fit-content;
    width: 100%;
}